html {
  background-color: #3e0542;
}

.Header {
  font-family: 'Comic sans MS';
  background: #9a478f;
  color: #f0cbe6;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
}

.description {
  font-family: 'Comic sans MS';
  text-align: justify;
  margin-right: 30px;
  margin-left: 30px;
}

.container {
  display: flex;          
  justify-content: space-between;
  align-items: center;     
  padding: 20px;
  background-color: #f0cbe6;
  border: 2px solid #9a478f;
  border-radius: 10px;
  background: #9a478f;
  color: #f0cbe6;
  padding: 40px;
  text-align: left;
  margin: 40px 350px;
  border-radius: 5px;
}

.image img {
    width: 400px;            
    height: auto;
    border-radius: 10px;
    border: 2px solid #9a478f;
    margin-left: 30px;
    margin-right: 30px;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;     
    text-align: center;
    margin: 20px;              
    padding: 20px;
  }

  .intro {
    margin: 0 0 20px 0;        
    text-align: justify;       
  }

  .image img {
    width: 80%;                
    margin: 0 auto;
    display: block;
  }

  .Projects {
    margin: 20px;             
  }
}